html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box; /* <- Mejora el cálculo del ancho */
}


.text-section{
    margin-top: 75px;
}

body {
    background-image: url('nosotros.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: Arial, sans-serif; /* Mejor presentación */
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    position: relative;
    margin-top: 70px;
}

.text-section {
    width: 40%;
}

.about {
    background-color: #55a2f4; /* Morado */
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.about h2, .about p {
    color: #ffffff; /* Texto blanco */
}

.what-we-do {
    background-color: #212d5d; /* Naranja */
    padding: 20px;
    border-radius: 8px;
}

.what-we-do h3, .what-we-do p {
    color: #ffffff; /* Texto blanco */
}

.image-section {

    display: flex;
    align-items: center;
    justify-content: center;
}

.image-section img {
    width: 100%;
    height: auto;
    max-height: 400px;
    border-radius: 8px;
    display: block;
}


/*Barra nav fin*/