body.bg {  
    background-image: url('fondo.jpg');  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
}  

.login-container {  
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semi-transparente */  
    border-radius: 8px;  
    padding: 30px;  
    width: 400px;  
    text-align: center;  
    color: #fff;  
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);  
}  

.login-form h2 {  
    margin-bottom: 25px;  
    color: rgb(0, 247, 255);  
}  

.form-group {  
    margin-bottom: 20px;  
    text-align: left;  
}  

.form-group label {  
    display: block;  
    margin-bottom: 5px;  
    color: #fff;  
    font-weight: bold;  
}  

.form-group label i {  
    margin-right: 5px;  
    color: rgb(255, 255, 255);  
}  

.form-group input {
    width: 100%;
    padding: 12px;
    padding-right: 40px; /* espacio para el ícono del ojo */
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}


.remember-forgot {  
    display: flex;  
    justify-content: space-between;  
    align-items: center;  
    margin-bottom: 20px;  
}  

.remember-forgot a {  
    color: rgb(255, 255, 255);  
    text-decoration: none;  
}  

.remember-forgot label {  
    font-weight: normal;  
    display: flex;  
    align-items: center;  
}  

.remember-forgot label input[type="checkbox"] {  
    margin-right: 5px;  
}  

button {  
    width: 100%;  
    padding: 14px;  
    background-color: rgb(0, 170, 255);  
    color: rgb(255, 255, 255);  
    border: none;  
    border-radius: 5px;  
    cursor: pointer;  
    font-size: 16px;  
    font-weight: bold;  
    transition: background-color 0.3s;  
}  

button:hover {  
    background-color: #6fe9ff;  
}  

.register {  
    margin-top: 20px;  
}  

.register a {  
    color: rgb(255, 255, 255);  
    text-decoration: none;  
}  

.copyright {  
    margin-top: 30px;  
    font-size: 12px;  
    color: #aaa;  
}  

.password-container {
    position: relative;
}

.password-container input {
    width: 100%;
    padding: 12px;
    padding-right: 100px; /* espacio para el ícono */
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.password-container .toggle-password {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    cursor: pointer;
}

.lobby {  
    margin-top: 20px;  
}  

.lobby a {  
    color: rgb(255, 255, 255);  
    text-decoration: none;  
}  